@page "/gametest"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable
@using PacMan.Client.Classes;
@using PacMan.Shared.Models;
@using PacMan.Shared.Enums;
@using System.Drawing;
@using PacMan.Client.InputMethods;
@using PacMan.Client.Services;

<PageTitle>Game test</PageTitle>

<style>
    /* Define a CSS class to style the table cells */
    .grid-cell {
        border: 1px solid #000;
        /* Add border styles as needed */
        width: 20px;
        /* Adjust cell width as needed */
        height: 20px;
        /* Adjust cell height as needed */
    }
</style>


@if (_gameState == EnumGameState.Initializing)
{
    <label>width</label>
    <input @bind="_gridOptions.Width"/>
    <label>height</label>
    <input @bind="_gridOptions.Height"/>
    <label>random tiles</label>
    <input @bind="_gridOptions.RandomTileCount" />
    <h5>Choose your input method:</h5>
    <input type="radio" id="keyboard" name="inputMethod" value="Keyboard"
        @onchange="() => ChangeInputMethod(EnumInputMethod.Keyboard)" checked="@IsKeyboardSelected" />
    <label for="keyboard">Keyboard</label>

    <br />

    <input type="radio" id="buttons" name="inputMethod" value="Buttons"
        @onchange="() => ChangeInputMethod(EnumInputMethod.Buttons)" checked="@IsButtonsSelected" />
    <label for="buttons">On-Screen Buttons</label>

    <br />
    <button @onclick="Start" disabled="@(!IsConnected)">Start</button>
}



@if (_gameState == EnumGameState.Starting)
{
    <p>Game is starting...</p>
}

@if (_gameState == EnumGameState.Running)
{
    <p>Game:</p>
    <p>Tick number: @_tickNumber</p>
    @if (selectedInputMethod == EnumInputMethod.Keyboard)
    {
        <script>
            document.addEventListener('keydown', event => {
                DotNet.invokeMethodAsync('PacMan.Client', 'HandleKeyboardInput', event.key);
            });
        </script>
    }
    @for (var i = 0; i < _points.Count; i++)
    {
        <p>Player @(i+1): @_points[i] points</p>
    }

    <table>
        @for (var i = 0; i < _grid.Height; i++)
        {
            <tr>
                @for (var j = 0; j < _grid.Width; j++)
                {
                    EnemyModel enemyAtPosition = _enemies.FirstOrDefault(e => e.Position == new Point(j, i));

                    <td class="grid-cell">
                        @if (_grid.GetTile(j, i) == EnumTileType.Wall)
                        {
                            <p style="margin: 0; padding: 0;">█</p>
                        }
                        @if (_grid.GetTile(j, i) == EnumTileType.Pellet && enemyAtPosition == null)
                        {
                            <p style="margin: 0; padding: 0;">●</p>
                        }

                        @if (enemyAtPosition != null)
                        {
                            @if (enemyAtPosition.Character == 'B')
                            {
                                <p style="color: dodgerblue">@enemyAtPosition.Character</p>
                            }
                            @if (enemyAtPosition.Character == 'R')
                            {
                                <p style="color: indianred">@enemyAtPosition.Character</p>
                            }
                        }

                        @foreach (var coordinate in _playerCoordinates)
                        {
                            var coordinateSplit = coordinate.Split(',');
                            if (int.Parse(coordinateSplit[1]) == j && int.Parse(coordinateSplit[2]) == i)
                            {
                                <p style="margin: 0">@(int.Parse(coordinateSplit[0]) + 1)</p>
                            }
                        }
                    </td>
                }
            </tr>
        }
    </table>

    @_input
    @if (selectedInputMethod == EnumInputMethod.Buttons)
    {
        <br />
        <button @onclick="async () => _input.ChangeDirection(EnumDirection.Up.ToString())">↑</button>

        <br />
        <button @onclick="async () => _input.ChangeDirection(EnumDirection.Left.ToString())">←</button>
        <button @onclick="async () => _input.ChangeDirection(EnumDirection.Right.ToString())">→</button>

        <br />
        <button @onclick="async () => _input.ChangeDirection(EnumDirection.Down.ToString())">↓</button>
        <br />
    }
}

@code {
    private EnumInputMethod selectedInputMethod = EnumInputMethod.Keyboard;

    private bool IsKeyboardSelected => selectedInputMethod == EnumInputMethod.Keyboard;
    private bool IsButtonsSelected => selectedInputMethod == EnumInputMethod.Buttons;
    private GridModel _grid = new GridModel();
    private readonly TileGridBuilderOptions _gridOptions = new();
    private List<EnemyModel> _enemies = new();
    private HubConnection? _hubConnection;
    private List<string> _connectedIds = new();
    private int _tickNumber = 0;
    private List<int> _points = new();
    EnumDirection _playerDirection = EnumDirection.Right;
    private EnumGameState _gameState = EnumGameState.Initializing;
    private List<string> _playerCoordinates = new();
    private StateModel _stateModel = new(EnumGameState.Initializing, new(), new());
    InputService _input;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
        .WithUrl(Navigation.ToAbsoluteUri("/gamehub"))
        .Build();
        _hubConnection.On<GridModel>("ReceiveGrid", OnReceiveGrid);
        _hubConnection.On<List<EnemyModel>>("ReceiveEnemies", OnReceiveEnemies);
        _hubConnection.On<StateModel>("Tick", OnTickAsync);

        _hubConnection.On<EnumGameState>("Starting", state =>
        {
            Console.WriteLine(state);
            _gameState = state;
            StateHasChanged();
        });

        try
        {
            await _hubConnection.StartAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        StateHasChanged();
    }

    private void ChangeInputMethod(EnumInputMethod method)
    {
        selectedInputMethod = method;

    }

    private void SetInputMethod()
    {
        _input = new InputService(selectedInputMethod, _hubConnection);
    }

    private async Task Start()
    {
        if (_hubConnection is not null && _gridOptions is not null)
        {
            Invoker invoker = new Invoker();
            invoker.SetCommand(new StartCommand(_hubConnection, _gridOptions));
            invoker.InvokeCommand();
            SetInputMethod();
        }
        StateHasChanged();
    }

    private async Task OnReceiveGrid(GridModel receivedGrid)
    {
        _grid = receivedGrid;
        StateHasChanged();
    }


    private async Task OnReceiveEnemies(List<EnemyModel> receivedEnemies)
    {
        _enemies = receivedEnemies;
        StateHasChanged();
    }

    public bool IsConnected =>
      _hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
    private async Task OnTickAsync(StateModel model)
    {
        _stateModel = model;
        _gameState = model.GameState;

        _playerCoordinates = model.Coordinates;
        _points = model.Points;
        Console.WriteLine(model.Coordinates.First());
        _tickNumber++;
        StateHasChanged();
    }

}